body {
    padding: 0;
    font-family: sans-serif;
    color: black;
    background-image: url("Images/bg.png");
    background-size: cover;
    background-attachment: fixed;
  }

@font-face {
    font-family: SSRegular;
    src: url(fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: SSBold;
    src: url(fonts/SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: SSSBold;
    src: url(fonts/SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: SScript;
    src: url(fonts/StyleScript-Regular.ttf);
}

/* Header */


.header{
  margin-top: -10px;
  margin-left: -10px;
  width: 101%;
  height: 160px;
  background-color: white;
  display: flex;
  flex-direction: row;

  .left{

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2.5rem;

      .logo{/* 
          width: 150px;
          height: 150px; 
          */
          padding: 1rem;
          margin-left: 10%;
          height: 150px;
          flex-shrink: 0;
      }

      .text{
          margin-top: 1rem;
          font-size: 2rem;
      }

  }

  /* .left::after{
      content: '';
      position: absolute;
      top: 5px;
      left: 10rem                                                                                 ;
      width: 5px;
      height: 140px;
      background-color: black;
  } */

  .right{
      .logo2{
          position: absolute;
          right: 0;
          margin-right: 10%;
          width: 150px;
          height: 150px;
          flex-shrink: 0;
      }
  }

}


  /* Navbar */

  .navbar{
    margin-left: -10px;
    width: 101%;
    max-height: 50px;
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #333;
  }

  .navbar-links{
    display: flex;
    flex-direction: row;
  }

  .navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-left: 2.5rem;
  }

  .navbar-links li{
    list-style: none;
  }

  .navbar-links li a{
    text-decoration: none;
    font-size: 1.25rem;
    font-family: SSRegular;
    color: #333;
    padding: 1.5rem;
    display: block;
  }

  .navbar-links .list2{
    margin-left: 30rem;
  }

  .navbar-links .login::after{
    content: '';
    position: absolute;
    background-color: #333;
    height: 40px;
    width: 2.5px;
    margin-top: -7px;
    margin-left: 1.5rem;
  }

  .navbar-links li a:hover{
    color: #55AEFD;
  }

  .sticky{
    position: fixed;
    top: 0;
  }

/* Carousel */

  .carousel{
    width: 90%;
    height: auto;
    background-image:  linear-gradient(45deg, rgba(82, 141, 255, 0.79) 0%, #477EE8 100%);    ;
    margin-left: 5%;
    margin-top: 2.5rem;
    padding: 10px;
  }

  .carousel img{
    width: 70%;
    height: 400px;
    margin-left: 15%;
  }

  /* content */

  .container{
    margin-top: 2.5rem;
    width: 90%;
    margin-left: 5%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .container h1{
    margin: 2.5rem;
    font-family: SSSBold;
    font-size: 3rem;
    color: #477EE8;
  }

  .container .director{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
    margin: 0 2.5rem 0 2.5rem;
    
  }

  .container .director .director-img img{
    width: 300px;
    height: 300px;
    background: #FFF;
    box-shadow: 0px 0px 6.943181037902832px 5.785984039306641px rgba(0, 0, 0, 0.25);
  }

  .container .director .director-text p{
    font-family: SSRegular;
    font-size: 1.3rem;
    margin-top: -0.4rem;
  }

  /* gallery */

  .gallery{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
  }

  .gallery-left{
    margin-top: 1.5rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    width: 65%;
    padding: 10px;
    gap: 0.25rem;
  }

  .gallery-left .box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .gallery-left .smallbox img{
    width: 75%;
    height: 176px;
    flex-shrink: 0;
    box-shadow: 0px 0px 6.943181037902832px 5.785984039306641px rgba(0, 0, 0, 0.25);
  }

  .gallery-right{
    width: 35%;
    padding: 10px;
  }

  .gallery-right img{
    margin-top: 1.5rem;
    width: 85%;
    height: auto;
    box-shadow: 0px 0px 6.943181037902832px 5.785984039306641px rgba(0, 0, 0, 0.25);
  }

  .gallery-right p{
    color: white;
    font-family: SScript;
    font-size: 5rem;
    margin-top: -15rem;
    margin-left: 6rem;
  }
  
  /* footer */

  .footer{
    width: 50%;
    margin-top: 2.5rem;
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    margin-bottom: -0.5rem;
    gap: 2.5rem;
  }

  .footer p{
    margin-left: 2rem;
    font-family: SSRegular;
    font-size: 1.5rem;
  }

  .footer img{
    margin-top: 15px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }

